<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eingang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eingang</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content>
      <!-- Liste -->
      <ion-list lines="full">
        <ion-item *ngFor="let todo of todos" (click)="openTodoDetails(todo)">
          <ion-label>{{ todo.title }}</ion-label>
          <ion-item slot="end">
            <ion-button color="danger" (click)="deleteTodo(todo.id)">Entfernen</ion-button>
          </ion-item>
        </ion-item>
      </ion-list>
  
    <!-- Buttons unter der Liste -->

      <ion-button expand="block" ios="add" md="add" (click)="openAddTodoModal()">
        <ion-icon slot="" ios="add" md="add"></ion-icon>
      </ion-button>
      
    </ion-content>
  </ion-content>
