<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eingang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eingang</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Eingang</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content color="light">
      <!-- Liste -->
      <ion-list lines="full">
        <ion-item *ngFor="let todo of todos" (click)="openTodoDetails(todo)">
          <ion-label>{{ todo.title }}</ion-label>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteTodo(todo.id)">Entfernen</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
  
    <!-- Buttons unter der Liste -->
      <ion-button ios="add" md="add" (click)="openAddTodoModal()">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
      
    </ion-content>
  
    <app-explore-container name="Tab 1 page"></app-explore-container>
  </ion-content>
